* {
    margin: 0;
    padding: 0;
}

body {
    
    text-align: center;
    animation: 2s infinite alternate flash ease-in-out;
}

.balon {
    position: absolute;
    display: block;
}

@keyframes floatUp {
    0% {
        top:25px;
    }
    
    100% {
        top:100px;
    }
}

@keyframes rotate {
    0% {
        transform: translateX(-50%) rotate(6deg);
    }

    25% {
        transform: translateX(-50%) rotate(-6deg);
    }
    
    50% {
        transform: translateX(-50%) rotate(6deg);
    }
    75% {
        transform: translateX(-50%) rotate(-6deg);
    }
    
    100% {
        transform: translateX(-50%) rotate(6deg);
    } 
}

@keyframes flash {
    0% {
        background-color: black;
    }
    100% {
        background-color: darkred;
    }
    
}

#title {
    font-family: "Rubik Glitch";
    font-weight: lighter;
    text-align: center;
    position: fixed;                  
    left: 50%;
    font-size: 6vw;
    text-shadow: 10px 10px 20px red;
    animation: 2s infinite alternate floatUp ease-in-out, 5.2s infinite alternate rotate ease-in-out;
    transition: all 0.2s;
    user-select: none;
}

#title:hover {
    font-size: 7vw;
    transition: all 0.3s;
    color: white;
    text-shadow: 10px 10px 20px tomato;
    cursor: pointer;
}
